[Unit]
Description=Restrict k3s dead-man ingress
Before=k3s-deadman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/sbin/iptables -D INPUT -j K3S_DEADMAN
ExecStart=-/usr/sbin/iptables -F K3S_DEADMAN
ExecStart=-/usr/sbin/iptables -X K3S_DEADMAN
ExecStart=/usr/sbin/iptables -N K3S_DEADMAN
ExecStart=/usr/sbin/iptables -I INPUT 1 -j K3S_DEADMAN
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -s 10.10.10.0/24 -p tcp --dport 22 -j ACCEPT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -p tcp --dport 22 -j REJECT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -s 10.10.10.50/32 -p tcp --dport 9443 -j ACCEPT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -p tcp --dport 9443 -j REJECT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -s 10.10.10.50/32 -p tcp --dport 9101 -j ACCEPT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -p tcp --dport 9101 -j REJECT
ExecStart=/usr/sbin/iptables -A K3S_DEADMAN -j RETURN

[Install]
WantedBy=multi-user.target
