# Global Defaults
# These are used if not overridden in node profiles or secrets

VCENTER_BUILD_FOLDER="REDACTED"
CONTENT_LIBRARY_OVF="REDACTED"
CONVERT_TO_TEMPLATE="REDACTED"
PACKER_FIRMWARE="REDACTED"
TEMPLATE_CPU_COUNT="REDACTED"
TEMPLATE_MEMORY_MB="REDACTED"
TEMPLATE_DISK_SIZE_MB="REDACTED"
PACKER_SSH_USERNAME="REDACTED"
