# ==========================================================
# 1. GLOBAL VCENTER CONNECTION
# ==========================================================
VCENTER_SERVER="10.10.10.9"
VCENTER_USERNAME="administrator@vsphere.local"
VCENTER_PASSWORD="REDACTED"

# ==========================================================
# 2. INFRASTRUCTURE DEFAULTS
# ==========================================================
VCENTER_DATACENTER="HOMELAB"
VCENTER_CLUSTER="Primary"
VCENTER_DATASTORE="NVME_2TB_970_SAMSUNG_EVO_M.2"
VCENTER_NETWORK="VM Network"

# Folder Hierarchy
VCENTER_BUILD_FOLDER="Builds/Linux"
VCENTER_TEMPLATE_FOLDER="Builds/Linux/Ubuntu/Templates"
VCENTER_BUILD_TEST_FOLDER="Builds/Linux/Ubuntu/Test"
VCENTER_DEPLOY_PROD_FOLDER="Deploy/Linux/Ubuntu/Prod"
VCENTER_DEPLOY_TEST_FOLDER="Deploy/Linux/Ubuntu/Test"

# ==========================================================
# 3. CONTENT LIBRARY DEFAULTS
# ==========================================================
CONTENT_LIBRARY_NAME="GOLDEN"
CONTENT_LIBRARY_OVF="true"
CONVERT_TO_TEMPLATE="true"

# ==========================================================
# 4. OS SETTINGS (ISO & BUILD)
# ==========================================================
# Ubuntu
UBUNTU_ISO_URL="https://releases.ubuntu.com/26.04/ubuntu-26.04-live-server-amd64.iso"
UBUNTU_ISO_CHECKSUM="sha256:dec49008a71f6098d0bcfc822021f4d042d5f2db279e4d75bdd981304f1ca5d9"

# Photon
PHOTON_ISO_URL="https://packages.broadcom.com/photon/5.0/GA/iso/photon-minimal-5.0-dde71ec57.x86_64.iso"
PHOTON_ISO_CHECKSUM="sha512:85cddaa8da26c095cf55d3f22f0838ad5d9ae73aa476d0c5c8e54bfbfcb432deaf940733c2cb5af14d1e5b133da65c17f3f4e215bf381d5b8b411d548b66a463"

# Common Build Specs
PACKER_FIRMWARE="bios"
TEMPLATE_CPU_COUNT="2"
TEMPLATE_MEMORY_MB="2048"
TEMPLATE_DISK_SIZE_MB="20480"

# ==========================================================
# 5. ADMIN CREDENTIALS
# ==========================================================
SSH_ADMIN_USERNAME="ansible"
SSH_ADMIN_PASSWORD="REDACTED"
SSH_ADMIN_SSH_PUBKEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPttp9ftShk3KFBHJaAq3e+KrH/jpATS7suoNJt4jDAi Generated By Termius"
SSH_PRIVATE_KEY_PATH="~/.ssh/id_ed25519"
