---
# ==========================================================
# 1. GLOBAL VCENTER CONNECTION
# ==========================================================
vcenter_server: "10.10.10.9"
vcenter_username: "administrator@vsphere.local"
vcenter_password: "REDACTED"

# ==========================================================
# 2. INFRASTRUCTURE DEFAULTS
# ==========================================================
vcenter_datacenter: "HOMELAB"
vcenter_cluster: "Primary"
vcenter_datastore: "NVME_2TB_970_SAMSUNG_EVO_M.2"
vcenter_network: "VM Network"

vcenter_build_folder: "Builds/Linux"
vcenter_template_folder: "Builds/Linux/Ubuntu/Templates"
vcenter_build_test_folder: "Builds/Linux/Ubuntu/Test"
vcenter_deploy_prod_folder: "Deploy/Linux/Ubuntu/Prod"
vcenter_deploy_test_folder: "Deploy/Linux/Ubuntu/Test"

# ==========================================================
# 3. CONTENT LIBRARY DEFAULTS
# ==========================================================
content_library_name: "GOLDEN"
content_library_ovf: "true"
convert_to_template: "true"

# ==========================================================
# 4. OS SETTINGS (ISO & BUILD)
# ==========================================================
ubuntu_2404_iso_url: "https://releases.ubuntu.com/24.04/ubuntu-24.04.4-live-server-amd64.iso"
ubuntu_2404_iso_checksum: "sha256:e907d92eeec9df64163a7e454cbc8d7755e8ddc7ed42f99dbc80c40f1a138433"

ubuntu_2604_iso_url: "https://releases.ubuntu.com/26.04/ubuntu-26.04-live-server-amd64.iso"
ubuntu_2604_iso_checksum: "sha256:dec49008a71f6098d0bcfc822021f4d042d5f2db279e4d75bdd981304f1ca5d9"

photon_iso_url: "https://packages.broadcom.com/photon/5.0/GA/iso/photon-minimal-5.0-dde71ec57.x86_64.iso"
photon_iso_checksum: "sha512:85cddaa8da26c095cf55d3f22f0838ad5d9ae73aa476d0c5c8e54bfbfcb432deaf940733c2cb5af14d1e5b133da65c17f3f4e215bf381d5b8b411d548b66a463"

packer_firmware: "bios"
template_cpu_count: "2"
template_memory_mb: "2048"
template_disk_size_mb: "20480"

# ==========================================================
# 5. ADMIN CREDENTIALS
# ==========================================================
ssh_admin_username: "ansible"
ssh_admin_password: "REDACTED"
ssh_admin_ssh_pubkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPttp9ftShk3KFBHJaAq3e+KrH/jpATS7suoNJt4jDAi Generated By Termius"
ssh_private_key_path: "~/.ssh/id_ed25519"
