# Managed by Ansible role log_retention.
{% for item in log_retention_files %}
{{ item.path }} {
    {{ item.rotate_frequency | default(log_retention_rotate_frequency) }}
    rotate {{ item.rotate_count | default(log_retention_rotate_count) }}
    maxsize {{ item.max_size | default(log_retention_max_size) }}
    missingok
    notifempty
{% if item.compress | default(log_retention_compress) %}
    compress
{% endif %}
{% if item.delaycompress | default(log_retention_delaycompress) %}
    delaycompress
{% endif %}
{% if item.copytruncate | default(log_retention_copytruncate) %}
    copytruncate
{% endif %}
    create {{ item.mode | default(log_retention_file_mode) }} {{ item.owner | default(log_retention_file_owner) }} {{ item.group | default(log_retention_file_group) }}
}

{% endfor %}
